{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock head %}
    <link rel="shortcut icon" href={% static "./images/favicon.ico" %} />
    <link rel="stylesheet" href={% static "css/swiper.css" %}>
    <link href={% static "css/style.css" %} rel="stylesheet">
</head>

<body class="f8back">
    <!-- nav -->
    {% block menu %}
    {% endblock menu %}
    <!-- banner -->
    {% block image %}
    {% endblock image %}
    <!-- content -->
    <div class="box page clear">
        <div class="zuo">
            {% block menu2 %}
            <div class="tou">
                门店展示 <br>STORE DISPLAY
            </div>
            {% endblock menu2 %}
            {% block menu1 %}
            {% endblock menu1 %}
            {% for all_Side in all_Sides%}
            <div class="m-tel">
                <small>全国统一免费服务热线</small> {{ all_Side.Telephone }}
            </div>
            {% endfor %}
        </div>
        {% block main %}
        {% endblock main %}
    </div>
    <!-- foot -->
    {% block last %}
    <div class="foot">
        <div class="box clear">
            {% for all_Tabbar in all_Tabbars %}
            <img src={{ MEDIA_URL }}{{ all_Tabbar.image }} class="left" alt="">
            <div class="fnav left">
                <a href="/show/">{{ all_Tabbars.bar1 }}</a>
                <a href="/xq/">{{ all_Tabbar.bar2 }}</a>
                <a href="/goods/">{{ all_Tabbar.bar3 }}</a>
                <a href="/store/">{{ all_Tabbar.bar4 }}</a>
                <a href="/lesson/">{{ all_Tabbar.bar5 }}</a>
                <a href="/news/">{{ all_Tabbar.bar6 }}</a>
                <a href="/contact/">{{ all_Tabbar.bar7 }}</a>
                <p class="copy">
                    {{ all_Tabbar.record }}
                </p>
            </div>
            <div class="ftel right">
                <small>Telephone</small> {{ all_Tabbar.Telephone }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock last %}

    <a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a>

    <script src={% static "js/jauery.js" %}></script>
    <script src={% static "js/swiper.js" %}></script>
    <script src={% static "js/main.js" %}></script>
</body>

</html>