{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>心全健康-首页</title>
    <link rel="shortcut icon" href={% static "./images/favicon.ico" %}/>
    <link rel="stylesheet" href={% static "css/swiper.css" %}>
    <link href={% static "css/style.css" %} rel="stylesheet">
</head>

<body>
    <!-- nav -->
    {% for all_Bow in all_Bows %}
    <div class="topBox">
        <div class="top box">
            <a href="">
                <img src={{ MEDIA_URL }}{{ all_Bow.image }} alt="" class="logo">
            </a>
            <div class="top-tel">
                <span>招商热线</span>
                <i>{{ all_Bow.Telephone }}</i>
            </div>
            <ul class="nav">
                <li class="yiji">
                    <a class="text" href="/show/">{{ all_Bow.bar1 }}</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/xq/">{{ all_Bow.bar2 }}</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/goods/">{{ all_Bow.bar3 }}</a>
                    <ul class="erjibox">
                        {% for all_Kind in all_Kinds %}
                            <li class="erji">
                                <a href="/goods/?kind={{ all_Kind.id }}">{{ all_Kind.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="yiji">
                    <a class="text" href="/store/">{{ all_Bow.bar4 }}</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/lesson/">{{ all_Bow.bar5 }}</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/news/">{{ all_Bow.bar6 }}</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/contact/">{{ all_Bow.bar7 }}</a>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}


    <!-- 4img -->
    {% for all_Index in all_Indexs %}
        <div class="img4" style="background-image: url({{ MEDIA_URL }}{{ all_Index.image }});height:{{ all_Index.high }}px" {% if all_Index.url %}onclick="javascript:window.location.href='{{ all_Index.url }}'"{% else %}href="javascript：void(0);"{% endif %}></div>
    {% endfor %}
    <!-- 药柜产品 -->
    <div class="box yaogui sypage">
        <h4 class="titt">药柜产品</h4>
        <p class="subtitt"><span>Medicine cabinet products</span></p>
        <div class="box-big">
            {% for all_Product in all_Products%}
                {% if all_Product.show == 'yes' %}
                    <div class="item" onclick="javascript:window.location.href='/goodsdet/{{ all_Product.id }}'">
                        <img src={{ MEDIA_URL }}{{ all_Product.image }} alt="">
                        <p class="info">{{ all_Product.title }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- 门店展示 -->
    <section class="f8back">
        <div class="box mendian sypage">
            <h4 class="titt">门店展示</h4>
            <p class="subtitt"><span>store display</span></p>
            <br><br><br><br><br><br><br><br><br>
            <div id="focus_Box">
                <span class="prev">&nbsp;</span>
                <span class="next">&nbsp;</span>
                <ul>
                    {% for all_Store in all_Stores%}
                        {% if all_Store.show == "yes" %}
                            <li  onclick="javascript:window.location.href='/store/'">
                                <a href="javascript:void(0)"><img width="657" height="399" alt="{{ all_Store.title }}" src={{ MEDIA_URL }}{{ all_Store.image }} /></a>
                                <p>
                                    <span>{{ all_Store.title }}</span>
                                    <a href="javascript:void(0)" class="imgs-scroll-btn">分享</a>
                                </p>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <p class="cha_more">
                <a href="/store/">查看更多门店</a>
            </p>

        </div>
    </section>
    <!-- 新闻动态 -->
    <div class="box xinwen sypage">
        <h4 class="titt">新闻动态</h4>
        <p class="subtitt"><span>News information</span></p>
        <div class="swiper-container news-banner" data-space-between='30' >
            <div class="swiper-wrapper">
                {% for all_New in all_News %}
                    {% if all_New.show == "yes" %}
                        <div class="swiper-slide">
                            <p class="month">{{ all_New.add_time.month }}-{{ all_New.add_time.day }}</p>
                            <p class="year">{{ all_New.add_time.year }}</p>
                            <p class="name">{{ all_New.title }}</p>
                            <div class="duanfen"></div>
                            <div class="xiao">{% autoescape off %}{{ all_New.detail1 }}{% endautoescape %}</div>
                            <div class="duanfen"></div>
                            <a href="/newsdet/{{ all_New.id }}" class="more">MORE</a>
                            <img src={{ MEDIA_URL }}{{ all_New.image }} class="tu" alt="">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="pn">
            <div class="lb"></div>
            <div class="rb"></div>
        </div>
    </div>

    <!-- 联系我们 -->
    <section class="f8back">
        <div class="box sypage lianxi">
            <h4 class="titt">联系我们</h4>
            <p class="subtitt"><span>Contact Us</span></p>
            <br><br><br>
            <div class="jiam">
                <span class="mt">加盟热线：</span>
                <div class="tel">
                    <span>021-66080886</span>
                    <span>400-8866-170</span>
                </div>
            </div>
            <div class="cod">
                <img src={% static "./images/coder_06.png" %} class="fu" alt="">
            </div>
            <img src={% static "./images/indcod_03.png" %} alt="" class="ren">
        </div>
    </section>

    <!-- foot -->
    <div class="foot">
        <div class="box clear">
            {% for all_Tabbar in all_Tabbars %}
            <img src={{ MEDIA_URL }}{{ all_Tabbar.image }} class="left" alt="">
            <div class="fnav left">
                <a href="/show/">{{ all_Tabbar.bar1 }}</a>
                <a href="/xq/">{{ all_Tabbar.bar2 }}</a>
                <a href="/goods/">{{ all_Tabbar.bar3 }}</a>
                <a href="/store/">{{ all_Tabbar.bar4 }}</a>
                <a href="/lesson/">{{ all_Tabbar.bar5 }}</a>
                <a href="/news/">{{ all_Tabbar.bar6 }}</a>
                <a href="/contact/">{{ all_Tabbar.bar7 }}</a>
                <p class="copy">
                    {{ all_Tabbar.record }}
                </p>
            </div>
            <div class="ftel right">
                <small>Telephone</small> {{ all_Tabbar.Telephone }}
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a>

    <script src={% static "js/jauery.js" %}></script>
    <script src={% static "js/swiper.js" %}></script>
    <script src={% static "js/ZoomPic.js" %}></script>
    <script src={% static "js/main.js" %}></script>
</body>

</html>

