{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>心全健康-心全课堂</title>
{% endblock head %}

{% block menu %}
    <div class="topBox">
        <div class="top box">
            <a href="index.html">
                <img src={% static "./images/pic1_03.png" %} alt="" class="logo">
            </a>
            <div class="top-tel">
                <span>招商热线</span>
                <i>400-8866-170</i>
            </div>
            <ul class="nav">
                <li class="yiji active">
                    <a class="text" href="/show/">企业介绍</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/xq/">心全 Health Box</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/goods/">药柜产品</a>
                    <ul class="erjibox">
                        {% for all_Kind in all_Kinds %}
                            <li class="erji">
                                <a href="/goods/">{{ all_Kind.kind}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="yiji">
                    <a class="text" href="/store/">门店展示</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/lesson/">心全课堂</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/news/">新闻动态</a>
                </li>
                <li class="yiji">
                    <a class="text" href="/contact/">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock menu %}

{% block image %}
    {% for all_Theme in all_Themes %}
    <div class="banner produc-banner" style="background-image: url({{ MEDIA_URL }}{{ all_Theme.image }})"></div>
    {% endfor %}
{% endblock image %}

{% block menu1 %}
    <ul class="m-nav">
        <li class="yiji">
            <a class="text" href="/index/">返回首页</a>
        </li>
        <li class="yiji active">
            <a class="text" href="/show/">企业介绍</a>
        </li>
        <li class="yiji">
            <a class="text" href="/xq/">心全 Health Box</a>
        </li>
        <li class="yiji">
            <a class="text" href="/goods/">药柜产品</a>
            <ul class="erjibox">
                {% for all_Kind in all_Kinds %}
                    <li class="erji">
                        <a href="javascript:void(0)">{{ all_Kind.kind }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="yiji">
            <a class="text" href="/store/">门店展示</a>
        </li>
        <li class="yiji">
            <a class="text" href="/lesson/">心全课堂</a>
        </li>
        <li class="yiji">
            <a class="text" href="/news/">新闻动态</a>
        </li>
        <li class="yiji">
            <a class="text" href="/contact/">联系我们</a>
        </li>
    </ul>
{% endblock menu1 %}

{% block main %}
<div class="you">
    <div class="dh">
        <a href="index.html">首页</a> >
        <a href="honor.html">企业资讯</a>
    </div>
    <div class="cont showcont" style="background-image: none">
        <p><span class="red">上海心全健康科技有限公司</span>，以打造专业实体母婴健康专区为核心，为母婴门店提供高品质的孕婴童药品、健康产品以及优质的项目培训。目前公司主营项目：</p>
        <div class="ltubox">
            <div class="ltu clear">
                <img src={% static "./images/show_03.png" %} alt="">
                <p>
                    <span class="red">心全Health Box</span>致力于打造母婴实体药食同区平台
                </p>
            </div>
            <div class="ltu clear">
                <img src={% static "./images/show_05.png" %} alt="">
                <p>
                    <span class="red">心全课堂</span>母婴零售业的课堂
                </p>
            </div>
            <div class="ltu clear">
                <img src={% static "./images/show_07.png" %} alt="">
                <p>
                    <span class="red">月子煲姆</span>专业孕产调理品牌
                </p>
            </div>
        </div>
        <div class="ltubox">
            <div class="ltu clear">
                <img src={% static "./images/show_12.png" %} alt="">
            </div>
            <div class="ltu clear">
                <img src={% static "./images/show_14.png" %} alt="">
            </div>
        </div>
        <div class="ys">
            心全健康发扬中医在妇幼健康服务中的优势和作用，结合现代营养学和健康管理学，助力广大母婴人群更科学、舒适的生活，推动亿万女性与儿童的健康发展。公司成立1年，目前与上海、浙江、安徽、山东、山西、湖北、广州、海南、云南9个省市等地近2000多家婴童连锁机构合作。
        </div>
        {% for all_Company in all_Companys %}
            <div class="wh">
                <p class="titt">
                    <img src={{ MEDIA_URL }}{{ all_Company.image }} alt=""> {{ all_Company.title }}
                </p>
                <p class="info">{% autoescape off %}{{ all_Company.detail }}{% endautoescape %}</p>
            </div>
        {% endfor %}
        <br><br><br>
    </div>
</div>
{% endblock main %}